@charset 'utf-8';
@import url(./my_reset.css);

@font-face {
  font-family: "Happiness-Sans-Bold";
  src: url(./webfont/Happiness-Sans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Happiness-Sans-Bold";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  --M1: 30px;
  --M2: 24px;
  --S1: 26px;
  --S2: 22px;
  --S3: 18px;
  --S4: 14px;
  --S5: 12px;
  color: #333;
  --MC: #f44502;
  --SC1: #fff4ef;
  --SC2: #d9d9d9;
  --SC3: #afafaf;
  --SC4: #f4f4f4;
  --SC5: #ffffff;
  --PC: #0085ff;
  --sec3_1: #ffddbd;
  --sec3_2: #ffecdb;
  --Q: #d11743;
}
.mw {
  width: calc(100% - 2rem);
  max-width: 1400px;
  margin: auto;
}

.qna {
  /* border: 1px solid violet; */
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 900;
  /* position: relative; */
}
.qna span {
  border: 3px solid #ff9138;
  display: inline-block;
  font-size: var(--S4);
  padding: 0.6rem 3rem 0.6rem 0.75rem;
  border-radius: 50px;
  background-color: var(--SC5);
}
.qna img {
  position: absolute;
  height: 100%;
  right: 0;
}
.qna a {
  /* border: 3px solid hotpink; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
}
.qna:hover span {
  background-color: #ff9138;
  color: var(--SC5);
  border-radius: 50px;
  font-weight: bold;
}
.eventban {
  /* border: 1px solid mediumasquamarine; */
  background-color: var(--PC);
  color: var(--SC5);
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  cursor: pointer;
}
.eventban p {
  font-size: var(--S4);
  text-align: center;
}
.eventban button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: var(--SC5);
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  cursor: pointer;
}
.eventban button:hover {
  font-weight: bold;
}

.hd {
  /* border: 1px solid lightcoral; */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--SC5);
  width: 100%;
  z-index: 900;
}
.hd > nav {
  /* border: 1px solid lightblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}
.hd .hd_left {
  display: flex;
  align-items: center;
}
.hd .logo {
  /* border: 1px solid brown; */
  width: 14%;
  position: relative;
  margin-right: 1.5rem;
}
.hd .logo > img {
  width: 100%;
}
.hd .logo > a {
  /* border: 1px solid lightcoral; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hd .gnb {
  display: flex;
}
.hd .gnb > li > a {
  /* border: 1px solid blue; */
  padding: 1rem 1.5rem;
  font-size: var(--S2);
  white-space: nowrap;
}
.hd .gnb > li:hover > a {
  font-weight: bold;
}
.hd .gnb > li:last-of-type > a {
  /* border: 1px solid blue; */
  padding-bottom: 1.5rem;
}
.hd .gnb_event {
  position: relative;
}
.hd .sub {
  /* border: 1px solid burlywood; */
  display: flex;
  position: absolute;
  background-color: var(--SC5);
  border-radius: 25px;
  bottom: -160%;
  left: 2vh;
  height: 0;
  width: 330%;
  overflow: hidden;
  align-items: center;
}
.hd .sub > li > a {
  font-size: var(--S4);
  padding: 0.75rem;
  white-space: nowrap;
}
.hd .sub > li:hover > a {
  font-weight: bold;
}
.hd .gnb_event:hover .sub {
  height: 90%;
}
.hd .hd_right {
  /* border: 1px solid slateblue; */
  display: flex;
  align-items: center;
}
.hd .hd_right > div {
  /* border: 1px solid slateblue; */
  position: relative;
  width: 2rem;
  height: 0;
  overflow: hidden;
  padding-top: 2rem;
  margin-right: 0.25rem;
  align-items: center;
}
.hd .hd_right > div > img {
  /* border: 1px solid slateblue; */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.hd .hd_right > div > a {
  /* border: 1px solid slateblue; */
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
}
.hd .hd_right > a {
  white-space: nowrap;
}
.hd .hd_right > a:first-of-type {
  color: var(--SC3);
  padding: 1rem 0.75rem;
}
.hd .hd_right > a:first-of-type:hover {
  font-weight: bold;
}
.hd .hd_right > a:nth-of-type(2) {
  background-color: var(--MC);
  color: var(--SC5);
  border-radius: 25px;
  padding: 0.25rem 0.75rem;
}
.hd .hd_right > a:nth-of-type(2):hover {
  padding: 0.5rem 0.75rem;
}

.sec1 {
  background-image: url(./img/back_img.jpg);
  background-size: contain;
  /* background-repeat: no-repeat; */
}
.sec1_con {
  display: flex;
}
.sec1 .sec1_left {
  /* border: 1px solid salmon; */
  width: 30%;
  text-align: center;
  padding: 15% 0 7% 0;
}
.sec1 .sec1_text {
  /* border: 1px solid blue; */
  background-color: var(--SC1);
  padding: 3rem 2rem;
  border-radius: 16px;
  position: relative;
}
.sec1 .sec1_text::before {
  content: "";
  background-image: url(./img/Xbookmark\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 11%;
  height: 18%;
  top: 0;
  left: 13%;
  /* border: 1px solid violet; */
}
.sec1 .sec1_text > h2 {
  font-size: var(--M1);
  color: #333;
  font-weight: bold;
  padding-bottom: 2rem;
}
.sec1 .sec1_text > p {
  font-size: var(--M2);
  color: #333;
  font-weight: bold;
  position: relative;
}
.sec1 .sec1_text > p::before {
  content: "";
  position: absolute;
  background-color: var(--MC);
  width: 80%;
  height: 1px;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.sec1 .sec1_text > div {
  padding-top: 1rem;
  color: var(--SC3);
  line-height: 1.8;
}
.sec1 .sec1_text > div > p:nth-of-type(2) {
  padding-bottom: 1rem;
}
.sec1_left > a {
  display: inline-block;
  position: relative;
  background-color: var(--PC);
  color: var(--SC5);
  border-radius: 50px;
  margin-top: 10%;
  padding: 1rem 3rem 1rem 2.5rem;
  box-shadow: 0px 7px 0px rgb(151, 151, 151);
}
.sec1_left > a::after {
  content: ">";
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.sec1_left > a:hover {
  font-weight: bold;
}
.sec1_left > a:hover::after {
  right: 15%;
}
.sec1 .sec1_right {
  width: 70%;
  padding-top: 20%;
}
.sec1 .sec1_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.sec1 .sec1_list > li {
  /* border: 1px solid saddlebrown; */
  padding: 1%;
  width: calc(25% - 2rem);
}
.sec1 .sec1_list > li > div {
  border: 3px solid pink;
  background-color: var(--SC5);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  align-items: center;
  transition: 0.1s;
  position: relative;
}
.sec1 .sec1_list > li > div > img {
  width: 90%;
}
.sec1 .sec1_list > li > div > span {
  text-align: center;
  padding: 0.25rem 0;
}
.sec1 .sec1_list > li > div:hover {
  box-shadow: 3px 3px 2px var(--SC3);
}
.sec1 .sec1_list > li > div:hover > span {
  font-weight: bold;
}
.sec1 .sec1_list > li > div > a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* sec2 */
.sec2 > h3 {
  background-color: var(--SC4);
  text-align: center;
  padding: 3.5% 0 0.8% 0;
  font-weight: bold;
  font-size: var(--M2);
}
.sec2 > h3 > span {
  color: var(--MC);
}
.sec2 .sec2_recipe {
  display: flex;
}
.sec2 .sec2_recipe > li {
  /* border: 1px solid lightblue; */
  padding: 3% 2% 5% 2%;
  width: 100%;
}
.sec2 .recipe_list {
  /* border: 1px solid salmon; */
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 98%;
  border-radius: 16px;
}
.sec2 .recipe_list > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
}
.sec2 .recipe_list:hover > img {
  width: 105%;
  top: 50%;
  transform: translateY(-50%);
}
.sec2 .recipe_list > a {
  /* border: 1px solid mediumaquamarine; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
}
.sec3 {
  background-color: var(--sec3_1);
}
.sec3 .sec3_con {
  display: flex;
}
.sec3 .sec3_con > li {
  width: calc(100% / 3);
  padding: 1.5rem 1.5rem 20rem 1.5rem;
}
.sec3 .sec3_con > li > p {
}
.sec3 .sec3_con > li > p:first-of-type {
  color: var(--MC);
  font-size: var(--S4);
  padding-bottom: 0.25rem;
}
.sec3 .sec3_con > li > p:last-of-type {
  font-size: var(--M2);
  font-weight: bold;
  line-height: 1.3;
}
.sec3 .sec3_con > li:first-of-type {
  /* border: 1px solid saddlebrown; */
  position: relative;
}
.sec3 .sec3_con > li:first-of-type::before {
  content: "";
  /* border: 1px solid salmon; */
  position: absolute;
  background-image: url(./img/img_about_bg01.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 60%;
  bottom: 0;
  right: 5%;
}
.sec3 .sec3_con > li:nth-of-type(2) {
  background-color: var(--sec3_2);
  position: relative;
}
.sec3 .sec3_con > li:nth-of-type(2)::before {
  content: "";
  /* border: 1px solid salmon; */
  position: absolute;
  background-image: url(./img/img_sec01_character.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35%;
  height: 40%;
  top: -15%;
  right: -2%;
}
.sec3 .sec3_con > li:nth-of-type(2)::after {
  content: "";
  /* border: 1px solid salmon; */
  position: absolute;
  background-image: url(./img/img_about_bg02.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 70%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sec3 .sec3_con > li:last-of-type {
  position: relative;
}
.sec3 .sec3_con > li:last-of-type::before {
  content: "";
  /* border: 1px solid salmon; */
  position: absolute;
  background-image: url(./img/img_about_layercont04.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 70%;
  bottom: 0%;
  left: 0;
}
.sec4 {
}
.sec4 > h3 {
  background-color: var(--SC1);
  padding: 3.5% 0 0.8% 0;
  text-align: center;
  line-height: 1.4;
}
.sec4 > h3 > p:first-of-type {
  font-size: var(--S2);
}
.sec4 > h3 > p:nth-of-type(2) {
  font-size: var(--M2);
  font-weight: bold;
}
.sec4 > h3 > p > span {
  color: var(--MC);
}
.sec4 .review {
  /* border: 1px solid blue; */
  position: relative;
}
.review .review_con {
  border: 1px solid seagreen;
  padding: 5rem 0 7rem 0;
}
.review .review_list {
  border: 5px solid #ff9a71;
  border-radius: 25px;
  overflow: hidden;
  animation: bg_ani1 30s infinite linear !important;
}
@keyframes bg_ani1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
.review .review_list > div {
  position: relative;
}
.review .review_list > div > a {
  /* border: 1px solid rebeccapurple; */
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.review .review_img {
}
.review .review_img > img {
  width: 100%;
}
.review .review_text {
  padding: 0.75rem 0.75rem;
}
.review .review_text > p {
  font-size: var(--S4);
}
.review .review_text > p:first-of-type {
  font-size: var(--S3);
  padding-bottom: 1rem;
}
.review .review_text > p:nth-of-type(2) {
  color: var(--SC3);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  height: 40px;
  /* border: 1px solid gray; */
}
.review .review_text > p:nth-of-type(3) {
  color: var(--MC);
  padding-top: 1rem;
}
.review .review_text > p:nth-of-type(4) {
  color: var(--SC3);
}
.review .review_text > p:nth-of-type(5) {
  color: var(--SC3);
  text-align: right;
  padding-top: 1rem;
}
.review .next1,
.review .prev1 {
  border: 1px solid rebeccapurple;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  height: 10%;
  color: var(--MC);
}
.review .next1 {
  right: -5%;
}
.review .prev1 {
  left: -5%;
}
.sec5 {
  background-color: #91caff;
  position: relative;
}
.sec5 > h3 {
  /* border: 1px solid papayawhip; */
  text-align: center;
  padding: 1rem 15rem 1rem 0;
  position: relative;
}
.sec5 > h3::before {
  content: "";
  /* border: 1px solid salmon; */
  position: absolute;
  background-image: url(./img/img_sec02_character.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25%;
  height: 150%;
  bottom: 0%;
  right: 23%;
}
.sec5 > h3 > p {
  line-height: 1.4;
}
.sec5 > h3 > p:first-of-type {
  color: var(--SC5);
  font-size: var(--S3);
}
.sec5 > h3 > p:nth-of-type(2) {
  font-size: var(--M2);
  font-weight: bold;
}
.sec5 > h3 > p:last-of-type {
  /* border: 1px solid blanchedalmond; */
  color: var(--SC5);
  font-size: var(--S3);
  position: relative;
  padding-top: 0.4rem;
}
.sec5 > h3 > p:last-of-type::before {
  content: ">";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.4rem;
  right: 43.5%;
  transition: 0.2s;
}
.sec5:hover > h3 > p:last-of-type::before {
  right: 43%;
}
.sec5 > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sec6 {
  position: relative;
}
.sec6::before {
  content: "";
  position: absolute;
  background-color: var(--SC1);
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
.sec6_con {
  display: flex;
}
.sec6 .sec6_cs {
  /* border: 1px solid gold; */
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  line-height: 1.8;
}
.sec6 .sec6_cs::before {
  content: "";
  /* border: 1px solid pink; */
  background-image: url(./img/X_WC_BOARD_TXT_202205121129140470.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40%;
  height: 30%;
  bottom: 0;
  left: 0;
}

.sec6 .sec6_cs p:first-of-type {
  font-size: var(--S5);
  padding-bottom: 2rem;
}
.sec6 .sec6_cs p:nth-of-type(2),
.sec6 .sec6_cs p:nth-of-type(4) {
  font-weight: bold;
}
.sec6 .sec6_cs p:nth-of-type(3),
.sec6 .sec6_cs p:nth-of-type(5) {
  font-size: var(--M2);
  color: var(--MC);
  font-weight: bold;
  padding-bottom: 2rem;
}
.sec6 .sec6_cs p:nth-of-type(6),
.sec6 .sec6_cs p:nth-of-type(7) {
  font-size: var(--S4);
}
.sec6 .sec6_question {
  width: 50%;
  padding: 3rem 2.5rem;
}

.sec6 .sec6_question > h3 {
  font-size: var(--M2);
  font-weight: bold;
  color: var(--MC);
  padding: 0.75rem 0;
}

.sec6 .question_list > li {
  padding: 0.5rem 0 0.5rem 3rem;
}
.sec6 .question_box {
  background-color: var(--SC5);
  border-radius: 16px;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  position: relative;
  width: 95%;
}
.sec6 .question_box:hover {
  border: 1px solid var(--SC4);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.sec6 .question_box > p:first-of-type {
  font-weight: bold;
  position: relative;
  padding-bottom: 0.5rem;
}
.sec6 .question_box > p:first-of-type::before,
.sec6 .question_box > p:nth-of-type(2)::before {
  font-weight: bold;
  font-size: 1.1rem;
  position: absolute;
  left: -6%;
}
.sec6 .question_box > p:first-of-type::before {
  content: "Q";
  color: var(--Q);
  top: -10%;
}
.sec6 .question_box > p:nth-of-type(2) {
  font-size: var(--S4);
  position: relative;
}
.sec6 .question_box > p:nth-of-type(2)::before {
  content: "A";
  color: var(--PC);
  top: 50%;
  transform: translateY(-50%);
}
.sec6 .question_box > p > span {
  color: var(--MC);
}
.sec6 .question_box > a {
  /* border: 1px solid black; */
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 16px;
}
footer {
  border-top: 1px solid var(--SC3);
}
.foot .foot_top {
  display: flex;
  justify-content: space-between;
}
.foot .foot_topleft {
}
.foot .foot_topleft > a {
  display: inline-block;
  padding: 0.5rem 1.75rem;
  position: relative;
  font-size: var(--S4);
}
.foot_topleft > a:hover,
.foot_call > span:hover {
  font-weight: bold;
}
.foot .foot_topleft > a:first-of-type {
  padding-left: 0;
}
.foot .foot_topleft > a::before {
  content: "";
  width: 1px;
  height: 35%;
  background-color: var(--SC2);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
.foot .foot_topleft > a:first-of-type:before {
  display: none;
}
.foot .foot_call {
  padding: 0.5rem 1.75rem;
}
.foot_call > i {
  /* border: 1px solid salmon; */
  display: inline-block;
  padding-right: 0.25rem;
}
.foot_call > span {
  font-size: var(--S4);
}
.foot .foot_bottom {
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-between;
}
.foot .foot_left {
  /* border: 5px solid lavender; */
  display: flex;
  width: 70%;
}
.foot .foot_logo {
  /* border: 1px solid seagreen; */
  position: relative;
  width: 8%;
  height: 0;
  overflow: hidden;
  padding-top: 8%;
}
.foot .foot_logo > img {
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}
.foot .foot_logo > a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.foot .foot_info {
  font-size: var(--S4);
  padding-left: 2rem;
}
.foot .info_text {
  display: flex;
}

.foot .info_text > p {
  padding-right: 2rem;
}
.foot .info_text > p:nth-of-type(2) {
  padding-right: 3.5rem;
}
.foot .info_text > p:nth-of-type(2),
.foot .info_text > p:nth-of-type(4) {
  color: var(--SC3);
}
.foot .info_text > p > span {
  color: var(--MC);
  padding-left: 0.25rem;
  cursor: pointer;
}
.foot_right {
  /* border: 1px solid slateblue; */
  display: flex;
  align-items: center;
}
.foot_right > div {
  /* border: 1px solid slateblue; */
  position: relative;
  width: 1.5rem;
  height: 0;
  overflow: hidden;
  padding-top: 1.5rem;
  margin-right: 0.25rem;
  align-items: center;
}
.foot_right > div > img {
  /* border: 1px solid slateblue; */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.foot_right > div > a {
  /* border: 1px solid slateblue; */
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
}
